
<h1 class="mt20"> Questions of {{qTitle}}</h1>

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">

            <div class="container text-center mb20">
                <button mat-raised-button color="primary" [routerLink]="'/admin/add-question/'+qId+'/'+qTitle">Add Questions</button>
            </div>
          <mat-card *ngFor="let q of questions;let i=index;">

            <mat-card-content>

                <p>
                   <b>Q{{i+1}}</b> <span class="ml20">{{q.content}}</span>
                </p>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <p>1) {{q.option1}}</p>
                        </div>
                        <div class="col-md-6">
                            <p>2) {{q.option2}}</p>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <p>3) {{q.option3}}</p>
                        </div>
                        <div class="col-md-6">
                            <p>4) {{q.option4}}</p>
                        </div>
                        
                    </div>
                    <mat-divider></mat-divider>
                        <p>Correct Answer:<b>{{q.answer}}</b> </p>
                    
                </div>
            </mat-card-content>

            <mat-card-content>
                <button mat-button color="warn" (click)="deleteQuestion(q.quesId)">Delete</button>
                <button [routerLink]="'/admin/view-quiz-questions/'+q.quesId" mat-button color="primary">Update</button>

            </mat-card-content>
          </mat-card>  
        </div>
    </div>
</div>