<mat-card>
    <mat-action-list>

        <div mat-subheader>Menu</div>
        <button routerLink="/admin" mat-list-item ><mat-icon mat-list-icon style="margin-right: 4px;">home</mat-icon> Home</button  >
        <button mat-list-item  routerLink="/admin/profile"><mat-icon mat-list-icon style="margin-right: 6px;">account_circle</mat-icon>Profile</button>
        <button mat-list-item  routerLink="/admin/categories"><mat-icon mat-list-icon style="margin-right: 6px;">list</mat-icon>Categories</button>
        <button mat-list-item  routerLink="/admin/add-category"><mat-icon mat-list-icon style="margin-right: 6px;">add_circle_outline</mat-icon>Add Categories</button>
        <button mat-list-item  routerLink="/admin/quizzes"><mat-icon mat-list-icon style="margin-right: 6px;">quiz</mat-icon>Quizzes</button>
        <button mat-list-item  routerLink="/admin/add-quiz"><mat-icon mat-list-icon style="margin-right: 6px;">add</mat-icon>Add Quizzes</button>
        <button mat-list-item  routerLink="/admin/quiz"><mat-icon mat-list-icon style="margin-right: 6px;">logout</mat-icon>Logout</button>


        
    </mat-action-list>
</mat-card>
